gradio
numpy
torch==1.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git@main
accelerate
sentencepiece==0.1.97
bitsandbytes==0.37.1
loralib==0.1.1
sqlalchemy
psycopg2-binary